/* global styles */

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@font-face {
    font-family: 'Lemon';
    src: url('fontes/lemon_tuesday/Lemon\ Tuesday.otf');
}
@font-face {
    font-family: 'Glacial_Regular';
    src: url('fontes/glacial-indifference/GlacialIndifference-Regular.otf');
}
@font-face {
    font-family: 'Glacial_Italic';
    src: url('fontes/glacial-indifference/GlacialIndifference-Italic.otf');
}
@font-face {
    font-family: 'Glacial_Bold';
    src: url('fontes/glacial-indifference/GlacialIndifference-Bold.otf');
}
