@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Sacramento&display=swap');

.body{ 
    margin:0px;
    padding:0px;
}

.banner{
    background: url("midia/banner1.jpg") no-repeat center center;
    height: 650px;
}

.banner-logo{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    font-family:'Sacramento', cursive;
    font-style: italic;
    margin: 0%;
    padding-top: 30px;
    letter-spacing:2px;
}

.banner-content{
    display: flex;
    align-items: center;
    height: 530px;
}

.banner-image{
    background-size: cover; /*se ajusta de acordo com a tela*/
    background: url("midia/banner1.jpg") no-repeat center center;
}

.banner-text{
    display: block;
    margin-left: 150px;
    max-width: 300px;/*Essa é uma delimitação de área p/ que o texto fique com no máximo 350px de área (e o texto fique quebrado como no modelo)*/
}

.banner-text h1{
    display: flex;
    font-family:'Caveat', cursive;
    color: #fff;
    font-size: 200px;
    margin: 0%;
    line-height: 190px;
    text-shadow: 0px 0px 3px #b4b4b4;
}

.banner-text h2{
    font-family:'Source Sans Pro', sans-serif;
    color: #fff;
    font-size: 14px;
    text-align: justify;
    margin: 0%;
    text-shadow: 0px 0px 2px #b4b4b4;
}
.banner-nav{
    display: flex;
    justify-content: center;
}
.nav{
    display: flex;
    justify-content: center;
    
    width: 700px;
    background-color: rgba(255, 255, 255, 0.767);
}
.nav-link {
    font-family:'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    margin-left: 20px;
}

main {
    margin: 0 auto; /* pq quando eu tiro desconfigura */
    width: 100%;
    height: 100%;
}

#texto{
    font-family:'Open Sans', sans-serif;
    text-align: justify;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item{
    width: 30%;
    justify-content: space-between; /*Lembrete: deixar um elemento em cada extremo */
}
.redes-sociais{
     /*Quero aumentar a fonte, centralizar e alterar a fonte  */
}

.footer{
    width: 100%;
    height: 100%;
    background-color: rgb(247, 175, 157);
}
.footer-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.apoios{
    margin: 60%;
    margin-top: 50%;
}

