<!--HEADER-->
<header id="home" class="header-container">
<!--LOGO-->
  <div class="logo-portfolio">
    <h3>Portfólio</h3>
  </div>
<!--MENU-->
  <div class="menu-container">
    <input id="menu-burguer" type="checkbox" />
    <label for="menu-burguer">
      <div class="menu">
<!--BOLHA-->
        <span class="burguer"></span>
<!--LINHAS-->
      </div>
    </label>
    <ul>
      <li><a href="#home" onclick="fecharMenu()">HOME</a></li>
      <li><a href="#trajectory" onclick="fecharMenu()">TRAJECTORY</a></li>
      <li><a href="#work" onclick="fecharMenu()">WORK</a></li>
      <li><a href="#contact" onclick="fecharMenu()">CONTACT</a></li>
    </ul>
  </div>
<!--BANNER-->
  <div class="banner">
    <div class="banner-content">
      <h1>telmi</h1>
      <h2>developer</h2>
    </div>
    <div class="banner-content">
      <div class="banner-content-img">
        <img src="midia/foto_telmi_300.png" alt="Foto Telmi Adame" />
        <div class="circul"></div>
      </div>
    </div>
  </div>
</header>
