<!--HEADER-->
<header id="home" class="header-container">
<!--LOGO-->
  <div class="logo-portfolio">
    <h3>Portfolio</h3>
  </div>
<app-hamburguer></app-hamburguer>
<app-menu></app-menu>
<!--BANNER-->
  <div class="banner">
    <div class="banner-content">
      <h1>telmi</h1>
      <h2>developer</h2>
    </div>
    <div class="banner-content">
      <div class="banner-content-img">
        <img src="../../assets/foto_telmi_300.png" alt="Foto Telmi Adame" />
        <div class="circul"></div>
      </div>
    </div>
  </div>
</header>
